html, body {
    overflow-x: hidden;
    height: 100%;
}

.navbar {
    background-color: black;
}

.top-image-container {
    background-image: url(../images/logo/solo-travel-iStock-904084674.jpg);
    background-size: cover;
}

.footer-row {
    background-color: black;
}

.footer-text {
    color: white;
}

.footer-text p {
    margin: 0;
}

.card-body-first-row, .mild-carousel {
    background-image: linear-gradient(rgba(255, 245, 245, 0.918), rgba(165, 190, 166, 0.74));
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body-second-row, .medium-carousel {
    background-image: linear-gradient(rgba(255, 245, 245, 0.918), rgba(165, 167, 190, 0.74));
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body-third-row, .extreme-carousel {
    background-image: linear-gradient(rgba(255, 245, 245, 0.918), rgba(190, 165, 165, 0.74));
    background-repeat: no-repeat;
    background-size: cover;
}

.register-middle-content {
    background-image: url("../Images/extreme_adventure/swimming-with-sharks_3-1024x576.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.register-container {
    border-radius: 5px;
    background-color: rgba(237, 243, 241, 0.7);
}

.sea {
    background-image: url("../images/logo/login-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* background around login form */

.gradient-background {
    border-radius: 5px;
    background-color: rgba(237, 243, 241, 0.7);
}

form .error {
    color: #ff0000;
}

.form-signin {
    width: 100%;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}